<h1>Order #<%= @order.id %></h1>
 <%= link_to "Cancel Order", profile_order_path, method: :delete  %>
<p>Date created: <%= @order.created_at %> </p>
<p>Date updated: <%= @order.updated_at %></p>
<p>Status: <%= @order.status %></p>
<% @order.item_orders.each do |item_order| %>
  <article id="item_order-<%= item_order.item.id %>">
    <p>Name: <%= item_order.item.name %></p>
    <p>Description: <%= item_order.item.description %></p>
    <%= image_tag item_order.item.image %>
    <p>Quantity: <%= item_order.quantity %></p>
    <p>Price: <%= number_to_currency(item_order.item.price) %></p>
    <p>Subtotal: <%= number_to_currency(item_order.subtotal) %></p>
  </article>
<% end %>
<p>Total quantity: <%= @order.total_quantity %></p>
<p>Grand total: <%= number_to_currency(@order.grandtotal) %></p>