<div class= "user-show-page">
  <%= link_to "My Orders", "/profile/orders" unless @user.orders.empty? %>
  <h3>Name</h3>
  <%= @user.name  %>
  <h3>Address</h3>
  <%= "#{@user.address}" %><br>
  <%= "#{@user.city}, #{@user.state} #{@user.zip}" %>
  <h3>Email</h3>
  <%= @user.email  %><br><br>
  <%= link_to 'Edit Profile', '/profile/edit' %>
  <%= link_to 'Edit Password', '/profile/edit_password' %>
</div>
