<h1>New Registration Form</h1>

<%= form_tag "/register", method: :post do %>
  <%= render partial: 'partials/user_form' %>

  <%= label_tag :password %><br/>
  <%= password_field_tag :password %><br/>

  <%= label_tag :confirm_password %><br/>
  <%= password_field_tag :password_confirmation %><br/>

  <%=submit_tag "Submit"%>
<%end%>