<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id = "merchant-<%= merchant.id %>">
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
      <p><%= merchant.active? ? "Enabled" : "Disabled" %></p>
      <%= link_to (merchant.active? ? "Disable Merchant" : "Enable Merchant"), "/admin/merchants/#{merchant.id}?active?=toggle", method: :patch %>
    </section>
  <% end %>
</section>
