<% @merchants.each do |merchant| %>
  <h4>Employer Name</h4>
  <%= merchant.name %>

  <h4>Employer Address</h4>
  <%= "#{merchant.address}" %> <br>
  <%= "#{merchant.city}, #{merchant.state} #{merchant.zip}" %>
  <%= link_to  'View items', '/merchant/items' %>

  <% merchant.pending_orders.each do |order| %>
    <%= link_to "Order ##{order.id}", "/merchant/orders/#{order.id}" %>
    <%= "Date made: #{order.created_at}"%>
    <%= "Quantity: #{order.total_quantity}"%>
    <%= "Total Value: #{order.grandtotal}"%>
  <% end %>
<% end %>
