<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
    <span id="topnav-left">
      <%= link_to "Home Page", "/" %>
      <%= link_to "All Items", "/items" %>
      <%= link_to "All Merchants", "/merchants" %>
      <%= link_to "Profile", "/profile" if current_user %>
      <%= link_to "Dashboard", "/merchant" if current_merchant? %>
      <%= link_to "Dashboard", "/admin" if current_admin? %>
      <%= link_to "Users", "/admin/users" if current_admin? %>
      <%= link_to "Cart: #{cart.total_items}", "/cart" unless current_admin? %>
    </span>
    <span id="topnav-right">
      <a><%= "Logged in as #{current_user.name}" if current_user %></a>
      <%= link_to "Login", "/login" unless current_user %>
      <%= link_to "Logout", "/logout", method: :delete if current_user %>
      <%= link_to "Register", "/register" unless current_user %>
    </span>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
